In [5]:
import numpy as np

In [6]:
# lists of people

sap = [
    "Oliver",
    "Lukas E",
    "Niclas",
    "Felix H",
    "Mona",
    "Steffen",
    "Maximilian",
    "Dustin",
    "Yannik S",
    "Lucas T",
]
bbf = [
    #"Masoud", # gone
    "Julius",
    "Marco",
    "Arne",
    "Jonas Moritz",
    "Fabian",
    "Philipp",
    "Paul M",
    "Simon",
    "Tobias"
]
basf = [
    "Felix B",
    "Jessica",
    # "Andreas", # gone
    "Marcel H",
    "Matthias",
    "Marcel Dominik",
    "Jonas", 
    "Paul S",
    "Alex",
    "Jannik Z"   
]

len(sap), len(bbf), len(basf)

(10, 9, 9)

In [7]:
# check uniqueness

names = sap + bbf + basf

len(set(names)) == len(names)

True

In [8]:
# spill over names so that lists are equal\

basf_split = 4
basf_head, basf_tail = basf[:basf_split], basf[basf_split:]

sap_basf = sap + basf_head
bbf_basf = bbf + basf_tail

n = len(sap_basf)
len(sap_basf), len(bbf_basf), n

(14, 14, 14)

In [9]:
# permutation how to
i = np.arange(n)
i_perm = np.random.permutation(i)
i_perm

array([ 8,  9,  2,  4, 13,  6,  5,  3, 11,  0, 10, 12,  1,  7])

In [10]:
# vectorize
v_sap = np.array(sap_basf)
v_non_sap = np.array(bbf_basf)

v_non_sap

array(['Julius', 'Marco', 'Arne', 'Jonas Moritz', 'Fabian', 'Philipp',
       'Paul M', 'Simon', 'Tobias', 'Marcel Dominik', 'Jonas', 'Paul S',
       'Alex', 'Jannik Z'], dtype='<U14')

In [11]:
# concat
groups = np.stack([v_non_sap, v_sap], axis=1)
print("shape:", groups.shape)
groups

shape: (14, 2)

array([['Julius', 'Oliver'],
       ['Marco', 'Lukas E'],
       ['Arne', 'Niclas'],
       ['Jonas Moritz', 'Felix H'],
       ['Fabian', 'Mona'],
       ['Philipp', 'Steffen'],
       ['Paul M', 'Maximilian'],
       ['Simon', 'Dustin'],
       ['Tobias', 'Yannik S'],
       ['Marcel Dominik', 'Lucas T'],
       ['Jonas', 'Felix B'],
       ['Paul S', 'Jessica'],
       ['Alex', 'Marcel H'],
       ['Jannik Z', 'Matthias']], dtype='<U14')

In [12]:
# indexing
print("first non_sap:", groups[0, 0])
print("all non_sap:", groups[:, 0])
print("last group:", groups[-1, :])
print()
print("first, 4th and last non_sap:", groups[:, 0][[0, 5, -1]])

first non_sap: Julius
all non_sap: ['Julius' 'Marco' 'Arne' 'Jonas Moritz' 'Fabian' 'Philipp' 'Paul M'
 'Simon' 'Tobias' 'Marcel Dominik' 'Jonas' 'Paul S' 'Alex' 'Jannik Z']
last group: ['Jannik Z' 'Matthias']

first, 4th and last non_sap: ['Julius' 'Philipp' 'Jannik Z']

In [13]:
groups

array([['Julius', 'Oliver'],
       ['Marco', 'Lukas E'],
       ['Arne', 'Niclas'],
       ['Jonas Moritz', 'Felix H'],
       ['Fabian', 'Mona'],
       ['Philipp', 'Steffen'],
       ['Paul M', 'Maximilian'],
       ['Simon', 'Dustin'],
       ['Tobias', 'Yannik S'],
       ['Marcel Dominik', 'Lucas T'],
       ['Jonas', 'Felix B'],
       ['Paul S', 'Jessica'],
       ['Alex', 'Marcel H'],
       ['Jannik Z', 'Matthias']], dtype='<U14')

In [14]:
# randomize - caution, this is just a demo
i_perm_left = np.random.permutation(i)
groups[:, 0] = groups[:, 0][i_perm_left]
i_perm_right = np.random.permutation(i)
groups[:, 1] = groups[:, 1][i_perm_right]

groups

array([['Paul S', 'Niclas'],
       ['Philipp', 'Steffen'],
       ['Fabian', 'Maximilian'],
       ['Alex', 'Jessica'],
       ['Jannik Z', 'Oliver'],
       ['Arne', 'Lucas T'],
       ['Marco', 'Felix H'],
       ['Tobias', 'Lukas E'],
       ['Julius', 'Mona'],
       ['Jonas', 'Dustin'],
       ['Paul M', 'Matthias'],
       ['Simon', 'Marcel H'],
       ['Marcel Dominik', 'Felix B'],
       ['Jonas Moritz', 'Yannik S']], dtype='<U14')